@charset "utf-8";

/* reset element */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background: #ffc312;
}

img {
  vertical-align: middle;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
  table-layout: fixed;
  width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 99999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {
  display: none
}

/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Malgun Gothic", "맑은 고딕"
    sans-serif;
  font-size: 16px;
  color: #444;
  letter-spacing: -1px;
}


.row {
    max-width: 1500px;
    margin: 0 auto;
  }




#wrap {position: relative;}

#top {
  height: 140px; 
  background: rgba(0, 0, 0, 0.5);
  color: brown;
  position: absolute;
  height: 116px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  }

#top h1 {
  color: #d27328;
  font-size: 45px;
  padding-left: 10px;
  padding-top: 35px;
  font-weight: bold;
  font-family: fantasy;
}

#top i {
  padding-left: 10px;
}


#top .nav {
 position: absolute; top: 65%; right: 10%;
}

#top .depth1 {width: 200px; color: #d27328;
font-weight: bold;
text-align: center; float: left; font-size: 25px; padding: 0 25px;}

#top .depth1:hover {
color: #fff; transition: all 0.5s;

}
#top .depth1:hover .depth2{
   transition: all 0.5s;
  font-weight: normal;
  margin-top: 16px;
  display: block;
  font-size: 25px;
  text-align: center;
  color: #d27328;
}

#top .depth2 {
  display:none;
font-size: 20px;
}
#top .depth2 li:hover {
  transition: all 0.5s;
  background:#d27328; 
  color: #fff;
}
#top .depth2 ul{
  background:rgba(0, 0, 0, 0.5 );
  height: 35px;
}



/* 바탕 */
/* .background{
  background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 850px;
} */
.vid{
  position: relative;
}
/* .vid video{min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%;
  transform:translate(-50%,-50%);   } */

.vids {width: 100%;
height: 100px;
background: #ffc312;;
position: absolute; left: 0; bottom: 0;}

/*top3*/

.goods {
  height: 100px;
  width: 100%;
  background:#ffc312
}

.goods li {
  content: "";
  padding-top: 55px ;
  color: #fff;
  font-size: 30px;
  text-align: left;
  padding-left: 200px;
}

.goods li strong{
  font-size:40px ;
}

.goodss{
  padding-top: 30px;
  height: 600px;
  background:#fff;
  position: relative;
}


.goodss img{
  width: 100%;
}
.goodss >div {
  position: relative;
  float: left;
  width: 30%;
 margin-top: 50px;
border: 3px solid #ffc312;
margin-left: 1.666%;
  margin-right: 1.666%;
}

.goodss >div:hover:after{
  content: "groot111";
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 40%;
font-size: 30px;
color: #fff;
}

.goodss >div.goodsimg2:hover:after{
  content: "groot222";
}

.goodss >div.goodsimg3:hover:after{
  content: "groot333";
}

.goodss >div:hover{
  opacity: 0.8;
  transition:  0.5s;
}
/*중간바탕*/
.deco2  { background-image: url(../img/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  height: 300px;}
  

/*상품목록 */


.mokrok{
  height: 800px;
  background: #fff;
}




.mokrokimg{
width: 400px;
height: 350px;
background: #ddd;
float: left;
border: 2px solid #fff;
margin-left: 75px;
margin-top: 30px;
}



.mokrokimg .gt1{
  height: 280px;
  padding-top: 25px;
  margin-left: 120px; 

}
.mokrokimg .gt2{
  padding-top: 20px;
  padding-left: 80px;
  height: 280px;
  width: 80%;
}

.mokrokimg .gt3{
padding-top: 50px;
margin-left: 120px;
height: 280px;

}

.mokrokimg .gt4{
padding-top: 10px;
margin-left: 110px;
height: 280px;
}

.mokrokimg .gt5{
padding-top: 50px;
margin-left: 95px;
height: 280px;
}

.mokrokimg .gt6{
  margin-left: 70px;
  padding-top: 20px;
  padding-left: 50px;
  height: 280px;
  width: 200px;
}
.mokrokimg .text {
  background: #fff;
  height: 65px;
text-align: center;
padding-top: 15px;}

.mokrokimg :nth-child(1){
  font-size: 20px;}


.deco1 {
  width: 100%;
  height: 100px;
  background: #ffc312;

}

.deco1 li {
  content: "";
  padding-top: 58px ;
  color: #fff;
  font-size: 30px;
  text-align: left;
  padding-left: 200px;
  font-weight: bold;
}

.deco1 li strong{
  font-size:40px ;
}
  


/*맨밑*/
.footer{
  width: 100%;
  height: 200px;
  background: #444;
  color: #fff;
  padding-left: 650px;
  padding-top: 50px;
}
.footer h1 {
  padding-bottom: 10px;
}

.footer h1 i {
  margin-left: 5px;
}
.footer p {
 padding-top: 5px;

}

.footer .pri:after{
  content: "|";
  margin-left: 5px;
}






